<div class="breadcrumbs"><% breadcrumb :new_opinion_post %></div>
<div class="opinion-main">
  <div class="opinion-container">
    <h2 class="opinion-title">意見交換を投稿する</h2>

    <!-- 意見交換の説明 -->
    <div class="opinion-description">
      <h4>意見交換の目的</h4>
      <p>このフォームでは、プログラミングやITに関するテーマについて意見を交換したい場合に投稿できます。</p>
    </div>

    <%= render partial: 'form_new_opinion', locals: {url: posts_path, method: :post} %>
    
  </div>
</div>