/* shared (共通部品) */
@import "shared/header.css";
@import "shared/footer.css";
@import "shared/error_messages.css";

/* user */
@import "user/edit.css";
@import "user/login.css";
@import "user/registration.css";
@import "user/show.css";

/* relationship */
@import "relationship/index.css";

/* like */
@import "like/_like.css";

/* post */
@import "post/edit.css";
@import "post/index.css";
@import "post/new_opinion.css";
@import "post/new_question.css";
@import "post/search.css";
@import "post/show.css";
@import "post/new.css";

/* Bootstrap (最後にインポート) */
@import "bootstrap";
@import "font-awesome";

body {
  padding-top: 200px;
  background-color: #F2F2F3;
}

.breadcrumbs {
  padding: 10px 25px;
}