/********************************************
  投稿方法選択ページ
********************************************/
.post-new-main{
  padding: 20px;
}
.page-title {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  color: #333;
  margin-top: 40px;
}

.selection-container {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  gap: 20px;
  flex-wrap: wrap;
}

.selection-card {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 40px;
  width: 600px;
  max-width: 100%;
  min-height: 300px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.selection-card-opinion {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 40px;
  width: 600px;
  max-width: 100%;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.selection-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.selection-card-opinion:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-title {
  font-size: 22px;
  padding-bottom: 10px;
  font-weight: bold;
  text-align: center;
  color: #007bff;
  margin-bottom: 15px;
}

.card-list-item {
  font-size: 16px;
  font-weight: bold;
  text-align: left;
  color: #555;
  margin-bottom: 20px;
}

.emphasized-paragraph {
  font-weight: bold;
  color: #007bff;
}

.card-paragraph {
  font-size: 14px;
  text-align: left;
  color: #555;
  margin-bottom: 10px;
}

.btn {
  display: block;
  width: 100%;
  padding: 12px;
  background-color: #007bff;
  color: #fff;
  text-align: center;
  font-size: 16px;
  border-radius: 4px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #0056b3;
}

.btn-secondary {
  background-color: #6c757d;
}

.btn-secondary:hover {
  background-color: #5a636a;
}

hr {
  border: none;
  border-top: 1px solid #ccc;
  margin: 20px 0;
}