.question-main {
  padding: 60px 20px;
  background-color: #F9F9F9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.question-container {
  width: 700px;
  padding: 40px;
  background-color: #FFFFFF;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.question-title {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: #333333;
}

.question-form-group {
  margin-bottom: 20px;
}

.question-form-tag {
  margin-bottom: 20px;
  max-width: 80%;
  width: 150px;
}

.question-form-label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: #555555;
}

.question-form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #DDDDDD;
  border-radius: 4px;
  font-size: 14px;
}

.question-btn {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007BFF;
  color: #FFFFFF;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

.question-btn:hover {
  background-color: #0056b3;
}

#previews {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

#previews img {
  width: 150px;
  height: auto;
  object-fit: cover;
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#search-result{
  width: 30%;
}

.child{
  margin: 5px;
  border: 1px solid #dedede;
  background-color: #F4F4F4;
  padding: 5px;
  font-size: 12px;
}